* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: Arial;
  font-family: 'Muli', sans-serif;
  background-image: url("./imgs/bg-purple-pink-gradient.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

i {
  text-align: center;
  font-size: 2em;
}

span {
  font-size: 30px;
}

.temp {
  display: inline-block;
  font-size: 3em;
  margin-left: 10px;
  margin-top: 8px;
}

.description {
  font-size: 1.3em;
  margin-bottom: 10px;
}

.icon {
  display: inline-block;
}

.day {
  display: inline-block;
  margin: 210px 250px 0 0;
  font-size: 1.2em;
}

.header {
  font-size: 1.2em;
  text-align: center;
  color: white;
}

.error {
  font-size: 2em;
  text-align: center;
  color: black;
  margin-top: 3%;
  display: inline-block;
}

.box {
  position: relative;
  display: block;
  width: 360px;
  height: 540px;
  border: 2px solid #232323;
  margin: 50px auto 0 auto;
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/9f/4e/38/9f4e38d4634f2b584143be34d1324c0a.png");
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.boxError {
  position: relative;
  display: block;
  width: 360px;
  height: 540px;
  border: 2px solid #232323;
  margin: 50px auto 0 auto;
  text-align: center;
  background-color: white;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.boxError > img {
  width: auto;
  height: 45%;
  margin-top: 12%;
}

.box:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.content {
  color: white;
}

.header > h1 {
  font-size: 3em;
}

.location {
  font-size: 2em;
  margin-top: 5px;
}

img {
  width: 18%;
}

.date span {
  display: block;
  margin-top: 210px;
  font-size: 21px;
  text-align: center;
}

input[type=text] {
  font-size: 20px;
  margin-top: 10px;
  padding-left: 0px;
  border-radius: 2px;
}

button {
  font-size: 22px;
  margin-top: 10px;
  padding-left: 0px;
  background-color: white;
  border: 0px solid white;
  margin-left: 0px;
  border-radius: 2px;
  margin-left: 3px;
  padding: 1px;
}

.humidity, .wind {
  font-size: 15px;
  display: inline-block;
  margin-top: 15px;
}

.additionalInfo {
  list-style-type: none;
}
